{% extends 'base.html.twig' %}

{% block title %}Établissements{% endblock %}

{% block body %}
    <div class="container">
        <div class="row row-cols-3 justify-content-center">
            {% for etablissement in etablissements %}
                <div class="card m-2" style="width: 25rem;">
                    {% if etablissement.image is not null %}
                        <img src="..." class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="d-flex justify-content-between">
                                <span>{{ etablissement.nom | capitalize }}</span>
                                <a href="b"></a>
                            </div>
                        </h5>
                        <p class="card-text">{{ etablissement.description | slice(0, 74)}}</p>

                        <div class="d-flex justify-content-start flex-wrap">
                            {% for categorie in etablissement.categorie %}
                                <div>
                                    <span class="badge rounded-pill text-bg-info me-1">{{ categorie.nom }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                            <span class="small">{{ etablissement.ville.nom }}</span>
                            <span class="small">{{ etablissement.ville.cp | number_format(0, '', ' ')}}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation d-flex justify-content-center mt-3">
            {{ knp_pagination_render(etablissements) }}
        </div>
    </div>
{% endblock %}
