{% extends 'base.html.twig' %}

{% block title %}Favori{% if etablissements is defined and etablissements.totalItemCount > 1 %}s{% endif %}{% endblock %}

{% block body %}
    {% if etablissements is defined and etablissements.totalItemCount != 0 %}
        <div class="container">
            <div class="mx-auto w-25 border border-2 border-primary rounded rounded-2 my-2 text-center text-primary">
                <h2 class="my-2"><strong>FAVORI{% if etablissements|length > 1 %}S{% endif %}</strong></h2>
            </div>
            <div class="row row-cols-3 justify-content-center">
                {% for etablissement in etablissements %}
                    <div class="card m-2" style="width: 25rem;">
                        {% if etablissement.image is not null %}
                            <img src="..." class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="d-flex justify-content-between text-primary">
                                    <span>{{ etablissement.nom | capitalize }}</span>
                                    <div>
                                        <a href="{{ path('app_etablissements_slug', {slug: etablissement.slug }) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </h5>
                            <p class="card-text text-light">{{ etablissement.description | slice(0, 74)}}</p>
                            <div class="d-flex justify-content-start flex-wrap">
                                {% for categorie in etablissement.categorie %}
                                    <div>
                                        <span class="badge rounded-pill text-bg-info me-1 text-black">{{ categorie.nom }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between text-light">
                                <span class="small">{{ etablissement.ville.nom }}</span>
                                <span class="small">{{ etablissement.ville.cp | number_format(0, '', ' ')}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="navigation d-flex justify-content-center mt-3">
                {{ knp_pagination_render(etablissements) }}
            </div>
        </div>
    {% elseif etablissements.totalItemCount == 0 and app.user is not null %}
        <div class="alert alert-info rounded rounded-5 w-25 mx-auto mt-2" role="alert">
            <div class="text-center">
                C'est bien vide ici !
                <br>
                Aucun établissement en favori pour le moment.
            </div>
        </div>
    {% endif %}
{% endblock %}
